<!-- <h2>Cocktails List:</h2>

<p><%= link_to "Create a new Cocktail", new_cocktail_path %></p>
 -->
<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail) do %>

 <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'cocktail2.jpeg' %>')">
  <%= cocktail.name %>
</div>

  <% end %>
<% end %>


