<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
      <h2>Create a new cocktail:</h2>
        <%= simple_form_for [@cocktail] do |f| %>
          <%= f.input :name %>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
        <p><%= link_to "Back to Cocktails list", cocktails_path %></p>
    </div>
  </div>
</div>


